<!DOCTYPE html>
<html lang="zh" dir="auto" style="background-color: #FAF8F1;">
    <header>
        <h1>
            <a style="color: #111111; font-size: 64px; font-style: oblique">Intelligeneer Bug Free 🤐</a>
            <a href="https://www.intelligeneer.com/"><img src="img/Logo.jpg" height="57" width="60" alt="Intelligeneer" style="float:right; margin: 5px;" ></a>
            </br>
            <a style="color: #FFA500; font-size: 32px">POSPAL-PUDU-ADAPAY</a>
        </h1>
    </header>
    <br/>
    <body class="list" id="buttons">
        <main class="main">
            <div class="buttons" align="center">
                <a class="button" href="/cn/pospal" rel="noopener" title="💻 Pospal/CN" >
                    <span class="button-inner" style="font-size:32px; padding: 10px">
                        💻 Pospal/CN
                    </span>
                </a>
                <a class="button" href="/en/pospal" rel="noopener" title="💻 Pospal/EN" >
                    <span class="button-inner" style="font-size:32px; padding: 10px">
                        💻 Pospal/EN
                    </span>
                </a>
                <a class="button" href="/robot" rel="noopener" title="🤖 Robot">
                    <span class="button-inner" style="font-size: 32px; padding: 10px">
                        🤖 PUDU
                    </span>
                </a>

            </div>
        </main>
        <br>
    </body>